.top {
  background-image: url("../img/benji-brucker.png");
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  background-color:#29E676 !important;
}

.mid {
  background-color: #1299E6;
  margin-block: 30px;
}

.bot {
  background-color: #1299E6;
  padding-top: 10px;
}

.oomph {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

a:link {
  color: rgb(255, 94, 0);
}

a:visited {
  color: rgb(162, 0, 255);
}

h1 {
  color: rgb(255, 255, 255);
}

p {
  color:rgb(255, 255, 255);
}

li {
  color:rgb(255, 255, 255);
  border: 2px dotted white;
}

h2 { 
  text-align: center;
  color:rgb(255, 255, 255);
}

h3 {
  float: left;
  color:rgb(255, 255, 255);
}

h4 {
  color:rgb(255, 255, 255);
}

body {
  background: #29E676 !important;
}